<%=flash.now[:alert]%>

<h1>Welcome</h1>
<form action="/contacts/add" method="get">
  <input type="text" name="first_name" placeholder="First Name">
  <br>
  <input type="text" name="last_name" placeholder="Last Name">
  <br>
  <input type="email" name="email" placeholder="Email">
  <br>
  <input type="text" name="address" placeholder="Address">
  <br>
  <input type="submit" value="Add Contact">
</form>
<br>
<form action="/contacts/contact_list" method="get">
  <input type="submit" value="View Contacts">
</form>
