<%=@contact.first_name%> successfully added
<form action="/" method="get">
  <input type="submit" value="Add More Contacts">
</form>
<form action="contact_list" method="get">
  <input type="submit" value="View Contacts">
</form>
